@{
    ViewBag.Title = "Erro page";
}

<h3>
    An occured while processin your request.
    The support team is notified and we are working on the fix
</h3>
<h5>Please contact us on mail@mail.com</h5>
